<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {{ with .Site.Params.gravatarHash }}<img src="http://www.gravatar.com/avatar/{{ . }}?s=200" alt="gravatar">{{ end }}
      <h1>{{ .Site.Author.name }}</h1>
      {{ with .Site.Params.tagline }}<p class="lead">{{ . }}</p>{{ end }}
    </div>

    <ul class="catlist">
      <li><a href="{{ .Site.BaseUrl }}/">Blog</a></li>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .Url }}">{{ .Name }}</a></li>
      {{end}}
    </ul>

    <ul class="sidebar-nav">
      {{ with .Site.Params.github }}<li class="sidebar-nav-item"><a href="{{ . }}">GitHub</a></li>{{ end }}
      {{ with .Site.Params.twitter }}<li class="sidebar-nav-item"><a href="{{ . }}">Twitter</a></li>{{ end }}
    </ul>

    	{{if .Site.Params.CopyrightHTML}}
    	<footer>
    		<div class="text-center">{{.Site.Params.CopyrightHTML | safeHtml}}</div>
	</footer>
	{{end}}
  </div>
</div>
